.header{
    padding:0px;
    padding-left:16px;
    padding-right:16px;
    margin:0px;
    width: 100%;
    z-index: 10;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 60%, rgba(255, 255, 255, 0) 100%);

    position: fixed;
    top:0px;
    left:0px;
    right:0px;

}

.menu-img{
    width:30px;
    height:30px;
    margin:8px;
    padding:0px;
}
.menu-label{
    width:fit-content;
    font-size: 18px;
    color:whitesmoke;
}

.logo-block{
    margin-top: -20px;
}

.moving-left-line{
    padding: 0px;
    width: 70%;
    height:48px;
    display:flex;
    align-items: center;
    justify-content: right;
    gap:10px;
}

.moving-right-line{
    padding: 0px;
    width: 30%;
    height:48px;
    display:flex;
    align-items: center;
    margin-left:10px;
}

.logo{
    overflow: hidden;
    width: 52px;
    height:48px;
    transition: 1s;
}

.logo:hover{
    width: 425px;
    transition: 1s;
}
.logo-img{
    width: 300px;
    margin: 0px;
    padding: 0px;

}