.carusel_holder{
    margin-top: 60px;
    position: relative;
    width:  100%;
}

.carusel_block{
    position: relative;
    

    width:  100%;
    display:  flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
    /* touch-action: none;  */
    transition: 1s;
}

.carusel_block::-webkit-scrollbar {
    display: none;
}

.carusel_item{
    min-width: calc((100vw - 264px)/5);
    margin-right: 16px;
    margin-left: 16px;
}
@media (max-width: 600px){
    .carusel_item{
        min-width: fit-content;
    }
}
.carusel_item:nth-child(-1){
    margin-right: 0;
}

.carusel_item_bg{
    z-index: 0;
    position: relative;
    top: 80px;
    left: 0px;

    
    
    width: 100%;
    height: 180px;

    background: rgb(228,228,228);
    background: linear-gradient(0deg, rgba(228,228,228,1) 0%, rgba(228,228,228,1) 25%, rgba(179,177,184,1) 25%, rgba(179,177,184,1) 100%);
}

.carusel_image{
    z-index: 1;
    position: relative;
    margin-top: -180px;

    background-position: left;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 280px;
}


.carusel_text{
    margin-top: 24px;
    font-family: 'Montserrat';
    color: #666370;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.left_carusel_button, .right_carusel_button{
    position: absolute;
    
    top:calc(50% - 30px);
    width: 60px;
    height: 60px;
    background-color: #273068;
    border-radius:  100px;
    background-size: cover;
    border: none;
    z-index: 2;
}

.left_carusel_button{
    left: -40px;
    background-image: url('../img/carousel_btn_left.png');
}
.right_carusel_button{
    right: -40px;
    background-image: url('../img/carousel_btn_right.png');
}