.header{
    background-color: white;
    background: white;
}
.menu-label{
    width:fit-content;
    font-size: 24px;
    color: #273068;
    font-weight: 300;
}
.menu-img{
    background-image: url('../img/menu-dark.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
}
.moving-line{
    color:#757891;
    background-color:#757891
}

.logo-img{
    background-image: url('../img/logo-dark.png');
}

h1{
    font-family: 'Montserrat';
    color: #273068;
    font-size: 32px;
    font-weight: normal;

    margin-top: 80px;
    margin-bottom: 20px;
}

.main-block{
    margin-top:40px;
    min-height: calc(100vh - 40px);


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 0 50px 0;
}

.news-data{
    margin-bottom:80px;
    min-width: 300px;
}

.post-text-col > *{
    margin-bottom: 12px;
    min-width:300px;

}


.news-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 12px;
    border-bottom: 1px solid #666370;
    min-width: 300px;
}

.search{
    border-bottom: 1px solid #757891;
    display:flex;
    flex-wrap: nowrap !important;
    gap:10px;
    width:100%;
    max-width: 300px;
}

.search-text{
    border: none;
}
.search-text:focus{
    border: none;
    outline: none;
}


.search-button{
    width: 24px;
    height: 24px;


    border-width: 0px;
    background-color: white;
    background-image: url('../img/search.png');
    background-size: cover;
    background-position: center;

}

.search-button:hover{
    background-image: url('../img/search-dark.png');
}

.post{
    min-width: 300px;
    margin-top: 36px;
    padding-bottom:24px;
    border-bottom: 1px solid #757891;

    flex-direction: row-reverse;
    justify-content: space-around;
    gap:40px;
}

.post *{
    font-family: 'Montserrat';
    
}

.post-title{
    font-size: 21px;
    font-weight: 500;
    color: #373D6A;
}
.post-text{
    display: -webkit-box;
    -webkit-line-clamp: 8; /* number of lines to show */
            line-clamp: 8; 
    -webkit-box-orient: vertical;
     text-overflow: ellipsis;
     overflow: hidden;
     font-weight: 300;
     color:#666370 !important;
     font-size: 18px;

     font-size: 16px;
}

.post-img{
    width: 100%;
    max-width: 400px;
    max-height: 280px;
    min-width: 280px;
    margin-bottom: 20px;
}

.post-link{
    color:#273068;
    text-decoration: underline;
    font-weight: 500;
    font-size: 18px;

}

@media (max-width: 600px){
    h1{
        font-size: 26px;
    }
    .search-text{
        font-size: 21px;
    }

    .news-data{
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
        
    }

    .post-img{
        max-width: 350px;
        max-height: 250px;
        margin-bottom: 20px;
    }

    
    .search-text{
        max-width: 180px;
    }
}